/*function*/
.outer .button span.blue {
    color : #5890ff
}

.focused {
    box-shadow: 0px 0px 5px 2px #FFF200;
    transition: box-shadow .4s ease-in-out;
}


/*header*/
header{
    position: fixed;
    top: 0;
    left: 0;
    background: #3a5795;
    border-bottom: 1px solid #133783;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
    height: 42px;
    width: 100%;
    
    z-index: 100;
}

#header{
    width: 975px;
    margin: 0 auto;
}

#header .logo{
    width: 28px;
    height: 28px;
    margin: 7px 3px 7px 7px;
    position: relative;
    border-radius: 4px;
    display: inline-block;
}

.logo img {
    width: 22px;
    height: 22px;
    margin: auto;
    
    position: absolute;
    top: 3px;
    left: 3px;
}

#header .logo:hover {
    background-color: #355089;
    cursor: pointer;
}

.search {
    display: inline-block;
    height: 24px;
    margin: 9px 0;
    position: absolute;
    width: 430px;
    border-radius: 3px;
    box-sizing: border-box;
    background: white;
}

.search input[type=text] {
    height: 24px;
    width: 400px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
    padding: 2px 8px;
    box-sizing: border-box;
    font-size: 13px;
    color: #101010;
}

.search div{
    display: inline-block;
    height: 16px;
    width: 24px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: none;
    padding: 0 4px;
    box-sizing: border-box;
    background-color: #fff;
    border-left: solid 1px #ddd;
    position: relative;
    top: 1px;
}




/*main*/
body {
    background-color: #ecf0f1;
}

#container{
    width: 975px;
    height: auto;
    background-color: #ecf0f1;
    margin: 42px auto 0 auto;
}

#lftSideBar{
    padding: 5px 0 0 5px;;
    float: left;
    width: 150px;
}

#lftSideBar h4{
    color: #9197a3;
    font-size: 10px;
}

#lftSideBar ul{
    list-style: none;
    padding-left: 0;
}

#lftSideBar ul li{
    font-size: 14px;
}

#lftSideBar ul li.hasNum::after{
    float: right;
    margin-right: 10px;
    content: attr(data-unread);
    font-size: 12px;
}

div#content {
    overflow: hidden;
    width: 100% - 155px;
    margin-left: 155px;
    padding-bottom: 20px;
}

main {
    float: left;
    padding: 0 5px;
}

main .outer{
    background: white;
    width: 600px;
    border-radius: 3px;
    margin-top: 20px;
    
    box-sizing: border-box;
    padding: 10px;
    
    border-top: solid 1px #e5e6e9;
    border-bottom: solid 1px #d0d1d5;
    border-right: solid 1px #dfe0e4;
    border-left: solid 1px #dfe0e4;
}

.outer .name{
    height: 50px;
    position: relative;
}
.name img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
.name div {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 60px;
}
.name div span {
    display: block;
}
.name .nowDate {
    font-size: 12px;
    color : #9197a3;
}

.outer .contentBox div:first-child{
    height: auto;
    padding: 10px 0;
}

.outer .contentBox div:nth-child(2){
    height: 30px;
}

.outer .interaction span, .outer .button span {
    color: #7f7f7f;
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
}

.outer .button span{
    font-size: 15px;
    font-weight: bold;
}

.outer .button span:hover {
    cursor: pointer;
}

.contentBox div:nth-child(2){
}

.outer .button {
    line-height: 30px;
    height: 30px;
}

#advertisement{
    float: right;
    background: white;
    width: 200px;
    height: 800px;
    border-radius: 4px;
    margin-top: 20px;
}

@media (max-width : 975px){
    #advertisement{
        display: none;
    }
    #main {
        width: 100%;
    }
    #main div{
        max-width: 600px;
        width: 90%;
    }
}
