/*
* {
    border: 2px dashed red;
}
*/

body {
    background-image: url(red-glass-rainy-rain.jpg);
    background-size: cover;
}

div.main {

}

div.main h1 {
    font-family: 'Rochester', 'junction-bold', sans-serif;
    font-size: 10em;
    color: #f2f2f2;
    text-shadow: 0px 0.02em 3px #888;
    text-align: center;
    
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes slidein {
    0% {
        margin-top: 20%;
    }
    100% {
        margin-top: 10%;
    }
}