body{
    width: 100%;
    height: auto;
    
    overflow-x: hidden;
    overflow-y: auto;
}

#navBtn {
    position: fixed;
    
    top: inherit;
    left: inherit;
    
    margin-top: 10px;
    margin-left: 10px;
    
    width: 30px;
    height: 31px;
    background: #2c3e50;
    border-radius: 5px;
    
    transition: background 0.5s ease-in-out;
}
#navBtn:hover {
    cursor: pointer;
    background: #EF4836;
}

#navBtn div{
    width: 80%;
    height: 5px;
    background: white;
    
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 4px;
    
    border-radius: 2px;
}

#toggle {
    visibility: hidden;
}

#toggle:checked + #container #navBtn {
    background: #EF4836;
}

#toggle:checked + #container {
    left: 200px;
}

nav {
    background: #2c3e50;
    color: #ECF0F1;
    height: 100%;
    width: 200px;
    
    position: fixed;
    top: 0;
    left: 0;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul div {
    background: #22313F;
    height: 50px;
    
    padding: 10px 20px;
    margin-bottom: 10px;
}

nav ul div div {
    padding: 0 0 0 10px;
    display: inline-block;
    width: 50px;
}

nav ul img {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

nav a{
    padding: 5px;
    padding-left: 20px;
    display: block;
    
    transition: color .1s ease-in-out, background .1s ease-in-out;
}

nav a:link, a:visited {
    text-decoration: none;
    color: #ECF0F1;
}

nav a:hover {
    color: #2c3e50;
    background: #F5D76E;
}

#container {
    width: 100%;
    height: auto;
    background: white;
    
    position: absolute;
    left: 0;
    top: 0;

    transition: left 0.5s ease-in-out;
    
    box-shadow: -3px 0 3px;
}

#container main {
    text-align: center;
    padding: 10px;
    padding-left: 100px;
    margin-right: 100px;
}

section .number {
    width: 10%;
    display: inline-block;
}
div.q_num {
    height: 30px;
    width: 30px;
    background: #EF4836;
    text-align: center;
    line-height: 30px;
    
    font-size: 25px;
    color: white;
    
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    
    font-family: monospace;
    font-weight: bold;
}

div.a_num {
    height: 30px;
    width: 30px;
    background: #2c3e50;
    text-align: center;
    line-height: 30px;

    font-size: 25px;
    color: white;

    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    
    font-family: monospace;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin: 0;
}

p{
    text-indent: 20px;
}

main > section {
    text-align: center;
    box-sizing: border-box;
    width: 600px;
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    margin: auto;
    margin-bottom: 20px;
    
    word-break: keep-all;
    
    border-radius: 5px;
    background: #ecf0f1;
}

section a {
    text-decoration: none;
    color: #2c3e50;
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
}

section a:hover {
    color: #EF4836;
}

section a:visited, a:link {
    color: #2c3e50;
    text-decoration: none;
}

div.answer::before {
    content: "";
    border: 1px inset;
    box-sizing: border-box;
    border-color: #ECF0F1;
    display: block;
    height: 2px;
    margin: 0.5em auto;
}


section .question, .answer {
    text-align: left;
}

input[type=checkbox] {
    display: none;
}

section .Btn_q {
    display: inline-block;
    margin: auto;
    
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ABB7B7;
    margin-top: 20px;
}

section .Btn_q:hover {
    cursor: pointer;
    border-top: 10px solid #6C7A89;
}

section .answer {
    display: none;
}

section input[type=checkbox]:checked ~ label div.Btn_q {
    border-top: 0;
    border-bottom: 10px solid #ABB7B7;
}
section input[type=checkbox]:checked ~ label div.Btn_q:hover {
    border-bottom: 10px solid #6C7A89;
}
section input[type=checkbox]:checked ~ div.answer {
    display: block;
}